.header {
  width: 100%;
  background-image: url(../pictures/DayZ_Promoart_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  grid-template-rows: 300px 380px;
}

.main-header {
  display: flex;
}

.logo-container {
  flex: 1;
}

.logo-container img {
  padding: 20px;
  width: 100%;
  min-width: 350px
}
.nav-bar {
  flex: 3;
  display: flex;
  justify-content: right;
  align-items: end;
}
.nav-bar button {
  background-color: rgba(20,20,20, 0.4);
  font-size: 28px;
  font-weight: bold;
  padding: 6px 1.6%;
  border-style: none;
  color: rgb(250 204 94);
  text-shadow: 5px 4px 4px rgba(20, 20, 20, 0.9);
  transition: 0.2s;
}
.nav-bar button:hover {
  background-color: rgba(20, 20, 20, 0.6);
  color: rgb(255, 237, 195);
  cursor: pointer;
}

.nav-bar button:active {
  background-color: rgba(20, 20, 20, 0.9);
  color: white;
}

.nav-bar .gradient {
  background: none;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(20, 20, 20, 0.4) 15%);
}
.nav-bar .gradient:hover {
  background-color: rgba(20, 20, 20, 0.3);
  color: rgb(255, 237, 195);
  cursor: pointer;
}

.nav-bar .gradient:active {
  background-color: rgba(20, 20, 20, 0.8);
  color: white;
}
.nav-bar .join-button { 
  background-color: rgba(20, 20, 20, .8);
  padding: 6px 5%;
  font-size: 28px;
  color: rgb(250 204 94);
}

.secondary-header {
  display: flex;
  justify-content: center;
  align-items: end;
  font-size: 32px;
}

.secondary-header h1 {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(20, 20, 20, 0.8) 50%, rgba(255, 255, 255, 0) 100%);
  padding: 0 35%;
}